# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Environment
.env

# Cache
cache/

# Raw and intermediate GIS data
data/raw/
data/interim/
data/temp/
data/processed/
data/training/

# Models
outputs/models/*.pkl

# ArcGIS metadata
*.aux.xml

# Temporary notebooks
Untitled.ipynb
